apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: game-services
  labels:
    app: user-service
spec:
  type: ClusterIP
  ports:
  - port: 3002
    targetPort: 3002
    protocol: TCP
    name: http
  selector:
    app: user-service
